{
  "startDate":"<%= entry.start_at.to_s.gsub('-',',') %>",
  "headline":"<%= entry.title %>",
  "text":"<p><%= entry.body.gsub(/\s+/, ' ') %></p>",
  "asset": {
    "media":"<%= entry.media %>",
    "credit":"© <%= entry.created_at.year %> <%= entry.account if entry.account %>",
    "caption":"<%= entry.tags %>"
  }
}
