<div class="form-controls">
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :start_at, "Start Date" %>
    <%= form.text_field :start_at %>
  </div>

  <div class="field">
    <%= form.label :end_at, "End Date" %>
    <%= form.text_field :end_at %>
  </div>

  <div class="field">
    <%= form.label :media, "Image Link" %>
    <%= form.url_field :media %>

  <div class="field">
    <%= form.label :uri, "Article Link" %>
    <%= form.url_field :uri %>
  </div>

  <div class="field">
    <%= form.label :tag_names, "Tags" %>
    <%= form.text_field :tag_names %>
  </div>
</div>
