<div class="form-controls">
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :start_at %>
    <%= form.date_field :start_at %>
  </div>

  <div class="field">
    <%= form.label :end_at %>
    <%= form.date_field :end_at %>
  </div>
</div>
