<div class="field">
<%= form.input :title %>
</div>

<div class="field">
  <%= form.input :body %>
</div>

<div class="field">
  <%= form.input :start_at, label: "Start Date", as: :string %>
</div>

<div class="field">
  <%= form.input :end_at, label: "End Date", as: :string %>
</div>

<div class="field">
  <%= form.input :media, as: :url, label: "Image Link" %>
</div>

<div class="field">
  <%= form.input :uri, as: :url, label: "Article Link" %>
</div>

<div class="field">
  <%= form.input :tag_names, label: "Tags", placeholder: "company, fun, tech", value: @entry.tags %>
</div>






