{
  "timeline": {
    "headline": "<%= main_timeline_headline %>",
    "type": "default",
    "startDate": "<%= @entries.first.start_at.year - 1 %>",
    "text": "<p><%= main_timeline_text %></p>",
    "asset": {
      "media": "<%= main_timeline_media %>",
      "credit": "The Good People At BarCampNOLA5",
      "caption": "<%= @entries.map(&:entry).map(&:tags).flatten.uniq.map(&:name).join(', ') %>"
    },
    "date": [<%= raw entry_dates %>]
  }
}
