<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @entry.title %>
</p>

<p>
  <b>Body:</b>
  <%= @entry.body %>
</p>

<p>
  <b>Date:</b>
  <%= @entry.date %>
</p>

<p>
  <b>Tags:</b>
  <%= @entry.tag_list %>
</p>





<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
<script>
  window.nolavation.tags = "<%= Entry.tag_counts_on(:tags).map(&:name).to_json.html_safe %>"
</script>