<h2><%= @entry.title %></h2>
<h3><%= @entry.tags %></h3>

<p><%= @entry.body %></p>


<ol>
  <% @entry.versions.each do |version| %>
    <li><%= version.originator.name %> <%= version.created_at %></li>
  <% end %>
</ol>
