<header>
  <nav class="clearfix">
    <h1 class="left"><%= logo_link %></h1>
    <div class="search left">
      <%= form_tag search_entries_path, method: :get do %>
        <%= text_field_tag :search, nil, placeholder: "Search for a moment..." %>
      <% end %>
    </div>

    <div class="controls left">
      <%= link_to "Add A Moment", new_entry_path, class: "button" %>

      <%= link_to "About Us", about_path, class: "button" %>
    </div>

    <div class="login right">
      <ul>
        <li class="dropdown" id="login-menu">
          <%= link_to "#login-menu", class: "dropdown-toggle", data: { toggle: "dropdown" } do %>
            <%= dropdown_menu_text %> <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <% if logged_in? %>
              <%= render partial: 'login-in-items' %>
            <% else %>
              <%= render partial: 'login-out-items' %>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
