<header>
  <nav class="clearfix">

    <h1 class="left"><%= logo_link %></h1>
    <div class="search left">
      <%= form_tag search_entries_path, method: :get do %>
        <%= text_field_tag :search, nil, placeholder: "Search for a moment..." %>
      <% end %>
    </div>

    <div class="controls left">
      <%= link_to "Add An Entry", new_entry_path, class: "button" %>
    </div>

    <div class="login right">
      <ul>
        <li class="dropdown" id="login-menu">
          <%= link_to "#login-menu", class: "dropdown-toggle", data: { toggle: "dropdown" } do %>
            Login <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <% if logged_in? %>
              <li><%= link_to "Sign Out", signout_path %></li>
            <% else %>
              <li><%= link_to "Facebook Signin", "/auth/facebook" %></li>
              <li><%= link_to "Twitter Signin", "/auth/twitter" %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
