<h1>Listing moments</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moments.each do |moment| %>
  <tr>
    <td><%= moment.title %></td>
    <td><%= moment.body %></td>
    <td><%= moment.date %></td>
    <td><%= link_to 'Show', moment %></td>
    <td><%= link_to 'Edit', edit_moment_path(moment) %></td>
    <td><%= link_to 'Destroy', moment, method: :delete, date: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Moment', new_moment_path %>
