<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @moment.title %>
</p>

<p>
  <b>Body:</b>
  <%= @moment.body %>
</p>

<p>
  <b>Date:</b>
  <%= @moment.date %>
</p>

<p>
  <b>Tags:</b>
  <%= @moment.tag_list %>
</p>





<%= link_to 'Edit', edit_moment_path(@moment) %> |
<%= link_to 'Back', moments_path %>
<script>
  window.nolavation.tags = Tag.all.map(:)
</script>
